*,*::before,*::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 400;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


html,body
{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    
}
h1,h2,h3,h4,h5{
    
}
h1
{
    font-size: 54px;
}
h2
{
    font-size: 32px;
}
h3
{
    font-size: 24px;
}
.wrapper
{
    display: flex;
    flex-direction: column;

}
header
{
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
}
.header_wrapper
{
    width: 1200px;
    padding: 25px;
    display: flex;
    justify-content:space-between;
    row-gap:unset;
    align-items:center;
}
.header_logo
{
    gap: 10px;
    display: flex;
    align-items: center;
}
.header_right_pannel
{
display: flex;
flex-direction: row;
align-items: center;
gap: 25px;
}
.header_menu li
{
    display: inline;
    margin-left: 15px;
}

.header_menu li a
{
    color:#666666;
    font-size: 16px;
    
}
a.black
{

background-color: #222222;padding: 10px 25px;color: #ffffff;border-radius: 5px;
}



main
{
    flex: 1 1 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 100px;
}

.about_app_section
{
    
    width: 1200px;
    display: flex;
    flex-direction: column;
    


}
.about_app_section > div
{
    margin-left: 80px;
    max-width: 400px;
}
.main_logo
{
    height: 64px;
}